# MVP (Solo) Project


### Overview:
You have roughly 24 hours to produce something compelling using the skills you've honed over the past five weeks.

__Q:__ What are your inputs?<br>
__A:__ (Roughly) 24 hours of (relatively) undivided attention

__Q:__ What is the required output?<br>
__A:__ A compelling product presentation delivered to your classmates.


### Getting Started:
To build on your learning of core engineering concepts, we will begin thinking about how to actually manage projects. Engineering management is a deep skill and discipline with lots of history and academic writing. We will focus on just some highlights of content to give a very brief context of how we arrive here.

Use an [Iterative and incremental development process](http://en.wikipedia.org/wiki/Iterative_and_incremental_development) instead of a [Waterfall Process](http://en.wikipedia.org/wiki/Waterfall_model)


## Bare Minimum Requirements
- [X] Pick an idea (implement a technology, build a product, make art, etc).
  - [X] Write it down on paper
  - [X] Imagine what portion of this could be done in 24 hours.
  - [X] Cut the scope in half.
  - [X] Cut the above scope in half again.
  - [X] Prepare to give a pitch and demonstration of your app

- [ ] Use iterative development (go straight to something that demo's your idea)*

- [ ] Complete the [PRESS_RELEASE.md](PRESS_RELEASE.md) template (<30min)*

- [X] Use the following for database, client and server:
  - [X] ***Database:*** MySQL or MongoDB
  - [X] ***Client:*** React or Angular
  - [X] ***Server:*** Express.js

- [X] Use [ESLint AirBnB](https://www.npmjs.com/package/eslint-config-airbnb) rules

- [ ] Use all 4 CRUD operations*
  - [ ] Create
  - [ ] Read
  - [ ] Update
  - [ ] Delete

- [ ] Integrate 3rd party API - [Here is a great list of Public APIs](https://github.com/public-apis/public-apis)*



* Steps marked with an asterisk are currently still in progress
node_modules
